.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #161616;
  
    button {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      background-color: #d2d2d2;
      color: #0b0b0b;
      border: none;
      cursor: pointer;
    }
  }